body {margin-top: 30px; font-family: 'Nunito Sans', sans-serif; 
min-height: 100%; min-width: 100%;}
#wrapper {width: 1200px; margin-left: auto; margin-right: auto;}

#menu_ngang {width: 100%; height: 40px;}
#logo {width: 30px; height: 30px; text-align: center; float: left; margin-left:80px}
#logo img {vertical-align: middle;}
#nav {width: 280px; height: 100%; float: right;}
#nav ul {list-style: none; margin: 0px; padding: 0px;}
#nav ul li {font-size: 16px; display:inline-block; width: 70px; padding: 10px;}
#nav ul li a {text-transform: uppercase; font-size:14px;text-decoration: none; font-weight: bold; color: black; vertical-align: middle; margin: 0px auto;}
#nav ul li:hover > a {color:turquoise;}
#nav .active {color:turquoise}
#content {width: 100%; margin-top: 10px; margin-left: 0px; margin-right: 0px; background-color:#EBEBEB}
#info {width: 350px; float: left; margin-left: 80px;}
#info h3 {font-size: 30px;}
#info p {text-align: justify; font-size: 13px; color: gray;}
#info b {color:#333}
.text1 {font-size: 13px; color: gray;}

#login_box {width: 550px; box-sizing: border-box; margin-left: 150px; float: left;
			margin-top:30px;}

.input_box {margin-top:30px }

#input1, #input2 {width: 250px;}
#input1 {float:left; }
#input2 {float:left; margin-left:25px; }
#input3 {width: 525px;}
#input4 {width: 525px;}

input[type=text] {height: 40px; width: 100%; padding-left:10px;  background-color: white; border: 1px white solid;}
input[type=text]:focus {outline: none}
.error {width: 200px; margin-top: 5px; font-size: 11px;}
textarea {padding-left: 10px; width:100%; border: none; background-color:white;}
textarea:focus {outline:none;}

#map {width: 1040px; text-align: center; margin-left:80px; clear:both;}
#map img {width: 100%;margin: 30px auto;}

#button1 {width: 100%; text-align: left;}
button {background-color:turquoise; color: white; margin-top: 10px; padding: 12px 12px; border: none; float: left;}
button:hover {background-color:darkgoldenrod;}
button:disabled {background-color:darkgray;}